extends ../shared/template/layout/_default

block vars
  -
    var title = 'accordion'

block main
  .test
    .test-wrap.js-wrap
      .test-inner.js-accordion-inner
        .test-heading.js-accordion-heading
          p 表示させせる
        .test-contents.js-accordion-contents
          p コンテンツ
    .test-wrap2.js-wrap
      .test-inner.js-accordion-inner
        .test-heading.js-accordion-heading
          p 表示させせる
        .test-contents.js-accordion-contents
          p コンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツ
    .test-wrap2.js-wrap
      .test-inner.js-accordion-inner
        .test-heading.js-accordion-heading
          p 表示させせる
        .test-contents.js-accordion-contents
          p コンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツ
    .test-wrap2.js-wrap
      .test-inner.js-accordion-inner
        .test-heading.js-accordion-heading
          p 表示させせる
        .test-contents.js-accordion-contents
          p コンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツ

