@import '../shared/styles/import';
@import '../shared/icons/css/icons';

$test: #fff;

.body {
  color: $test;
}

.text {
  @include font-rem(24, 36);
}

.test-wrap {
  width: 100%;
}

.test-inner {
  width: 100%;
  overflow: hidden;
}

.test-heading {
  padding: 100px;
  background-color: #ccc;
}

.test-contents {
  padding: 100px;
  display: none;
}
